<form asp-action="Login" asp-controller="Authentication" method="post">
    <input type="email" name="Email">
    <input type="password" name="Password">
    <input type="submit" value="login">
</form>
<a asp-action="Register" asp-controller="Authentication">
Register
</a>
