@model Activity_Scheduler.Core.ViewModels.ApplicationUserViewModel;

<form asp-action="Register" asp-controller="Authentication" method="post">
    <input type="text" asp-for="FirstName" placeholder="First Name" required>
    <input type="text" asp-for="LastName" placeholder="Last Name" required>
    <input type="email" asp-for="Email" placeholder="Email" required>
    <input type="password" asp-for="Password" placeholder="Password" required>
    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
    <span asp-validation-for="ConfirmPassword">
    </span>
    <input type="submit" value="Sign Up">
</form>

<a asp-action="Login" asp-controller="Authentication">
Login
<<<<<<< HEAD
</a>
=======
</a>
>>>>>>> cbba764027c8e8d03ce67d0250cbe150ad427492
